<div class="w3-sidebar w3-bar-block w3-jumbo bk" style="width: 100px;">
    <a href="#" class="w3-bar-item w3-button"><i class=""></i></a>
    <a [routerLink]="['./home']" class="w3-bar-item w3-button"><i class="material-icons w3-jumbo">person</i></a>
    <a href="#" class="w3-bar-item w3-button"><i class=""></i></a>
    <a [routerLink]="['./fav']" class="w3-bar-item w3-button"><i class="material-icons w3-jumbo">person</i></a>
    <a href="#" class="w3-bar-item w3-button"><i class=""></i></a>
  </div>
  
  <div style="margin-left:100px">
  
    <div class="w3-container">
      <router-outlet></router-outlet>
    </div>
  
  </div>